.header {
    background-color: #fff;
    color: #666;
    font-size: 17px;
    padding: 0 24px;
    height: 56px;
    border-bottom: solid 1px #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

    .header .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
    }

    .header .brand-link {
        display: inline-block;
    }

    .header .brand-link-img {
        height: 36px;
        width: auto;
        vertical-align: middle;
    }

    .header .nav-link {
        margin: 0 16px;
        vertical-align: text-bottom;
    }

        .header .nav-link:hover {
            color: #3e8ec6;
        }

    .header .nav-link-active {
        color: #3e8ec6;
    }

    .footer {
        padding: 8px 16px;
        color: #acacac;
        font-size: 15px;
    }
    
    .footer-copyright {
        text-align: center;
        margin: 8px 0;
    }