<!--@swb messages ../../messages/_shared.json-->
<!--@swb messages ../../messages/blog/post-1.json-->

<!DOCTYPE html>
<html lang="en">
{{> templates/_head }}

<body>
    {{> templates/_header }}
    <main role="main">
        <section>
            {{{markdown "./src/blog/post-1.md"}}}
        </section>
    </main>
    {{> templates/_footer }}
</body>

</html>